---
import { Forgejo } from "simple-icons-astro";
import { RepoTemplateIcon } from "@primer/octicons-react";
---

<div
  class="navbar sticky top-0 z-50 border-b border-base-300 bg-base-100/80 px-4 backdrop-blur"
>
  <div class="navbar-start">
    <!--  <a class="btn btn-ghost text-xl" href="/" aria-label="Go to homepage">-->
    <!--    <span class="font-bold tracking-tight">Emily</span>-->
    <!--  </a>-->
  </div>
  <div class="navbar-end">
    <a
      href="https://forge.kemonomimi.moe/emily/website"
      class="btn btn-ghost"
      aria-label="Kemonoforge profile"
    >
      <RepoTemplateIcon size={16} class="h-16 w-16" />
    </a>
  </div>
</div>
